.project-card {
    box-shadow: 3px 3px 8px 0px #c3c3c3;
    -webkit-box-shadow: 3px 3px 8px 0px #969696;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    border-radius: 20px;
    overflow: hidden;
    position: relative;

    width: min(90vw, 500px);
}

.left-section {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 40px 30px;
}

.left-section h4 {
    margin: 15px 0 20px 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.description {
    font-size: 1rem;
}

.date {
    color: #c3c3c3;
    font-size: 0.8rem;
}

.image-section {
    height: 320px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.store-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.link-information {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.link-information p {
    color: rgb(0, 100, 213);
    font-weight: 600;
    text-decoration: none;
}

.link-information p:hover {
    text-decoration: underline;
}

.icon {
    font-size: 1.4rem;
    margin-right: 10px;
}

@media screen and (min-width: 900px) {
    .project-card {
        width: 850px;
        height: 500px;
    
        
        flex-direction: row;
        justify-content: space-between;
    }
    
    .left-section {
        justify-content: space-between;
        width: 400px;
        padding: 20px 50px 50px 50px;
    }
   
    .image-section {
        height: 100%;
        width: 350px;
    }

    .store-download, .link-information {
        margin-top: 0;
    }
}