.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
}

.title {
    text-align: center;
}

.timeline {
    position: absolute;
    width: 3px;
    height: 500px;
    background-color: rgb(48, 59, 70);
    left: calc(50% - 464px);
    top: 0;
    z-index: 1;
    position: fixed;
}

.projectCards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}