.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCards {
    margin-top: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 1fr);
}