.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
    color: rgb(51, 51, 51);
    margin-bottom: 150px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.projectCards {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center;
}