.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
}

.title {
    text-align: center;
}

.projectCards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}