.project-section {
    width: calc(100% - clamp(30px, 10vw, 100px));
    background-color: white;
    padding: 100px clamp(15px, 5vw, 50px);
    padding-bottom: 0;
    color: rgb(51, 51, 51);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.projectCards {
    position: relative;
    margin-top: 50px;
    max-width: 100%;
    width: fit-content;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, 500px);
   /* grid-template-columns: repeat(auto-fill, min(100% - 30px, 500px));*/
}