.project-card {
    box-shadow: 3px 3px 8px 0px #c3c3c3;
    -webkit-box-shadow: 3px 3px 8px 0px #969696;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    border-radius: 20px;
    position: relative;
    overflow: hidden;

    width: min(90vw, 500px);
}

.left-section {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 40px 30px;
}

.left-section h4 {
    margin: 15px 0 20px 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.description {
    font-size: 1rem;
}

.date {
    color: #c3c3c3;
    font-size: 0.8rem;
}

.image-section {
    height: 320px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.store-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}