.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
}

.title {
    text-align: center;
}

.timeline {
    position: absolute;
    width: 3px;
    height: 50%;
    background-color: rgb(48, 59, 70);
    left: calc(50% - 465px);
    z-index: 1;
}

.projectCards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}