.project-section {
    width: 100%;
    background-color: white;
    padding: 100px 0 100px 0;
}

.title {
    margin-left: 5%;
}

.projectCards {
    margin-top: 100px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}