.projectCard {
    width: 50vw;
    border-radius: 20px;

    box-shadow: 3px 3px 8px 0px #c3c3c3;
    -webkit-box-shadow: 3px 3px 8px 0px #969696;

    display: flex;
    flex-direction: row;
}

.leftSection {
    padding: 50px;
}
