.github-card {
    border: 1px solid rgb(215, 222, 228);
    padding: 10px;
    border-radius: 3px;
    background-color: white;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 50px;
    row-gap: 50px;
    overflow: hidden;
}

.github-card h5 {
    display: flex;
    flex-direction: row;
    transform: translateY(0.2rem);
}

.github-card h5 > a {
    color: rgb(0, 100, 213);
    font-weight: 670;
    text-decoration: none;
    width: max-content;
}

.github-card h5>a:hover {
    text-decoration: underline;
}

.github-card p {
    color: rgb(105, 117, 128);
    font-size: 0.9rem;
}

.description {
    margin: 30px 0 15px 0;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 02px;
    margin-bottom: 15px;
}

.topics p {
    color: rgb(0, 100, 213);
    font-weight: 600;
    font-size: 0.7rem;
    background-color: rgb(217, 244, 254);
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
}

.topics p:hover {
    color: white;
    background-color: rgb(0, 100, 213);
}

.circle {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    transform: translateY(2px);
}

.repo-icon {
    font-size: 1.2rem;
    margin-right: 5px;
    transform: translateY(0.1rem);
}

.footer {
    display: flex;
    flex-direction: row;
}

.footer p {
    font-size: 0.75rem;
}

.footer-item {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.star-icon {
    font-size: 0.9rem;
    margin-right: 3px;
}

.repo-visibility {
    border: 1px solid rgb(209, 215, 221);
    border-radius: 0.8rem;
    width: min-content;
    padding: 1px 5px 1px 5px;
    color: rgb(105, 117, 128);
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 5px;
    height: fit-content;
    transform: translateY(0.1rem);
}

@media screen and (min-width: 900px) {
    .github-card {
        margin-top: 0;
    }
}