.githubSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 150px 0px;
}

.title {
    width: 50%;
}

.title h2 {
    font-size: 15rem;
    line-height: 12rem;
    font-family: 'Fredoka One';
    color: rgb(200, 212, 220);
}

.cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 400px;
}