.githubSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 150px 0px;
    justify-content: center;
}

.title {
    width: 50%;
    height: min-content;
}

.title h2 {
    font-size: 15rem;
    line-height: 12rem;
    font-family: 'Fredoka One', 'Nunito', sans-serif;
    color: rgb(233, 238, 241);
    width: min-content;
    height: min-content;
    transition: color 0.2s;
    padding: 0;
    margin: 0;
}

.title h2:hover {
    color: rgb(190, 196, 200);
    transition: color 0.2s;
    cursor: pointer;
}

.cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 400px;
}