.githubSection {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    min-width: 270px;
}

.title {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title h2 {
    font-size: 15rem;
    line-height: 12rem;
    font-family: 'Fredoka One', 'Nunito', sans-serif;
    color: rgb(233, 238, 241);
    height: min-content;
    transition: color 0.2s;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.title h2:hover {
    color: rgb(190, 196, 200);
    transition: color 0.2s;
    cursor: pointer;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    z-index: 2;
}

@media screen and (min-width: 1000px) {
    .githubSection {
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;
    }
    
    .title {
        width: fit-content;
    }
    
    .title h2 {
        font-size: 15rem;
        line-height: 12rem;
        font-family: 'Fredoka One', 'Nunito', sans-serif;
        width: min-content;
        height: min-content;
        transition: color 0.2s;
        padding: 0;
        margin: 0;
    }
    
    .title h2:hover {
        cursor: pointer;
    }
    
    .cards {
        width: calc(50% - 15px);
        display: flex;
        flex-direction: column;
        gap: 50px;
        max-width: 400px;
        min-height: 100vh;
    }
}