.about {
    width: 100%;
    height: 100vh;
    background-color: rgb(84, 158, 138);
    color: white;
    position: relative;
}


.about:before,
.about:after {
    width: 100px;
    background: #4264E8;
    height: 150px;
    content: "";
    display: block;
    position: absolute;
}

.about::after {
    bottom: -150px;
}