.about {
    width: calc(100% - 100px);
    height: 100vh;
    background-color: rgb(84, 158, 138);
    color: white;
    padding: 50px;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.content {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
}