.about {
    width: max(300px, 100%);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.left {
    width: clamp(270px, 75vw, 400px);
    margin: auto;
    margin-top: 20px;
    position: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    padding-top: 20px;
}

.right {
    width: clamp(270px, 75vw, 400px);
    margin: auto;
    position: relative;
}

.image {
    border-radius: 20px;
    width: 100%;
    margin: 0;
}

.about h3 {
    color: rgb(51, 51, 51);
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.dynamic-wrapper {
    overflow: hidden;
    height: 2rem;
}

.dynamic-inner {
    display: flex;
    flex-direction: column;
}

.dynamic-inner h3 {
    color: rgb(54, 82, 118);
    display: flex;
    align-items: center;
    font-weight: 600;
}

@media screen and (min-width: 870px) {
    .about {
        flex-direction: row;
    }

    .left {
        width: 40%;
        padding: 50px 5%;
        margin: 0;
    }

    .right {
        width: 50%;
        margin: 0;
    }

    .image {
        width: 70%;
        margin: 0 20% 0 10%;
    }
}