.about {
    width: 100%;
    height: 100vh;
    background-color: rgb(84, 158, 138);
    color: white;
    position: relative;
    padding-top: calc(10vw + 50px);
}

.content {
    display: flex;
    flex-direction: row;
}