.about {
    width: max(300px, 100%);
    background-color: rgb(84, 158, 138);
    color: white;
    padding: 100px 0; 
    position: relative;
    overflow-x: hidden;
}

.slide {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200vw;
}

.content {
    position: relative;
    height: 80vh;
    min-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurred {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
}

.content h3 {
    z-index: 10;
    position: relative;
    font-size: 2.5rem;
    padding: 30px;
}

.content .image {
    position: absolute;
    z-index: 1;
}

.image {
    height: 80vh;

}