.about {
    width: 100%;
    background-color: rgb(84, 158, 138);
    color: white;
    padding: 100px 0; 
    position: relative;
    overflow-x: hidden;
}

.slide {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200vw;
}

.content {
    position: relative;
}

.content h2 {
    z-index: 10;
    position: absolute;
}

.content .image {
}

.image {
    height: 80vh;

}