.about {
    width: max(300px, 100%);
    background-color: #495e6c;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px 0;
}



.about h3 {
    z-index: 10;
    font-size: 2.5rem;
    padding: 30px;
}

/*
.blurred {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}
*/