.about {
    width: max(300px, 100%);
    position: relative;
    height: 100vh;
    min-height: 600px;
}

.overlay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    background-color: transparent;
    top: 0;
}

.top, .bottom, .left, .right {
    background-color: #495e6c;
    position: absolute;
}

.top {
    width: 100%;
    height: 30px;
    top: 50px;
}

.bottom {
    width: 100%;
    height: 30px;
    bottom: 50px;
}

.left {
    left: 0;
    height: 100%;
    width: 15px;
}

.right {
    right: 0;
    height: 100%;
    width: 15px;
}

.about h3 {
    position: absolute;
    left: calc(40px);
    width: calc(100% - 80px);
    bottom: 90px;
    z-index: 10;
    color: white;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
}

@media screen and (min-width: 700px) {
    .top {
        height: 60px;
        top: 0;
    }
    
    .bottom {
        height: 60px;
        bottom: 0;
    }
    
    .left {
        left: 5vw;
        width: 40px;
    }
    
    .right {
        right: 5vw;
        width: 40px;
    }
    
    .about h3 {
        left: calc(5vw + 80px);
        width: calc(100% - 10vw - 140px);
        bottom: 100px;
        font-size: 2rem;
    }
}