.about {
    width: max(270px, calc(100% - 30px));
    background-color: #495e6c;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 15px;
}

.content {
    position: relative;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.about h3 {
    z-index: 10;
    font-size: 2.5rem;
    padding: 30px;
}

@media screen and (min-width: 1000px) {
    .about {
        flex-direction: row;
        padding: 50px 0;
        width: 100%;
    }
}

/*
.blurred {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}
*/