.wrapper {
    width: max(90%, 270px);
    height: max(90vh, 270px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: max(5vh, 15px) max(5%, 15px);
}

.content {
    display: grid;
    grid-template-areas: 'h1' 'h2' 'link';
    row-gap: 10px;
    justify-items: center;
}

.content h1 {
    grid-area: h1;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    width: min-content;
}

.content h2 {
    grid-area: h2;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.link {
    grid-area: link;
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
}

@media screen and (min-width: 550px) {
    .content {
        grid-template-areas: 'h1 h2' 'link link';
    }
}