* {
    background-color: rgb(80, 93, 106);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}