* {
    color:rgb(48, 59, 70);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

h3 {
    color: white;
    font-size: 2.8rem;
    margin: 1.5rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
