* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
}

h3 {
    color: white;
    font-size: 2.8rem;
    margin: 1.5rem;
}
