.successBackground {
    background-color: rgb(25, 30, 36);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successInformation {
    background-color: white;
    max-width: 450px;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    gap: 30px;
}

.successInformation h1 {
    font-size: 1.8rem;
}

.successInformation span {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(181, 120, 109);
}

.link {
    font-weight: 600;
    border-bottom: 1px solid transparent;
}

.link:hover {
    border-bottom: 1px solid rgb(75, 130, 115);

}

.icon {
    font-size: 1.2rem;
    transform: translateY(0.2rem);
    margin-right: 10px;
}

.successInformation span * {
    color: rgb(75, 130, 115);
}