.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: min-content;
}

.title h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.1;
}

.title h1, .title h2 {
    color: rgb(51, 51, 51);
}