.icons {
    width: 500px;
    height: 500px;
    position: relative;
    border: 2px solid green;
}

.icons>* {
    font-size: 2em;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
}