.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    width: 40vw;
    height: 90vh;
    padding: 5vh 5vw 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}