.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}