.header {
    width: calc(100% - 30px);
    min-width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.1;
    color: rgb(51, 51, 51);
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 3rem;
    }
}