.header {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.right-section {
    background-color: rgb(48, 59, 70);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

.about {
    width: 40vw;
    height: 40vw;
    border: 2px solid green;
}

.title {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.text {
    width: fit-content;
}