.header {
    display: grid;
    grid-template-areas: 'title graphic';
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
}

.graphic {
    grid-area: graphic;
}

.title {
    width: 50vw;
    grid-area: title;
    display: flex;
    align-items: center;
    background-color: rgb(80, 93, 106)
}