.navbar {
    position: fixed;
    right: 0;
    z-index: 10;
    padding: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar * {
    color: white;
}

.navbar-is-open {
    height: 100vh;
    background-color: black;
    min-width: 33vw;
}

.icon {
    font-size: 2.5em;
    cursor: pointer;
    align-self: flex-end;
}

.list {
    width: fit-content;
}

.hide {
    display: none;
}