.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: max(300px, 100%);
}

.nav-bar-list {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 0;
}

.nav-bar-list-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
}

.nav-bar-list ul {
    list-style: none;
}

.nav-bar-list li {
    cursor: pointer;
    margin-bottom: 30px;
    display: block;
    position: relative;
    color: rgb(51, 51, 51);
    width: fit-content;
}

.text>::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.text :hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.social {
    border-radius: 10px;
    padding: 5px;
    transform: scale(1);
    transition: transform 0.4s;
}

.social> a> * {
    transform: translateY(5px);
    font-size: 1.5rem;
}

.social:hover {
    position: relative;
    transform: scale(1.3);
    transition: transform 0.4s;
}

.icon {
    cursor: pointer;
    font-size: 2.5rem;
    color: rgb(51, 51, 51);
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
}

@media screen and (min-width: 800px) {
    .wrapper {
        align-items: end;
    }

    .nav-bar-list {
        width: fit-content;
        margin-top: 15px;
        margin-right: 10px;
        display: inline;
        height: min-content;
    }

    .nav-bar-list li {
        margin-bottom: 0;
        display: inline-block;
    }

    .text {
        margin-right: 20px;
    }

    .icon {
        display: none;
    }
}