.footer {
    background-color: rgb(51, 51, 51);
    width: max(100%, 300px);
}

.footer * {
    color: white;
}

.footer h2 {
    font-size: 2rem;
}

.content {
    width: 100%;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.icon {
    margin-right: 20px;
    font-size: 2rem;
    transform: translateY(2px);
}

.link {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.link * {
    color: rgb(172, 172, 172);
}

.link:hover * {
    color: white;
}

.link p {
    margin: 0;
    transform: translateY(0.15rem);
}

.contact-section {
    display: flex;
    flex-direction: column;
    width: clamp(210px, calc(90vw - 80px), 400px);
    background-color: #556d7e;
    padding: 40px;
    border-radius: 10px;
}

.footer form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button {
    color: white;
    border: none;
    background-color: #40515b;
    padding: 12px 40px 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.footer input,
textarea {
    color: rgb(51, 51, 51) !important;
    width: calc(100% - 16px);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.footer input[name="subject"] {
    margin-top: 20px;
}

.copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright p {
    color: rgb(191, 191, 191);
    margin-bottom: 20px;
    font-size: 0.7rem;
}

.divider {
    height: 1px;
    width: min(400px, 70%);
    margin-bottom: 5px;
    background-color: rgb(191, 191, 191);
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
        justify-content: center;
    }

    .link-section {
        width: 480px;
        margin-left: min(calc((100% - 960px) / 6), 100px);
        margin-top: 0;
    }
    
    .contact-section {
        width: 400px;
        margin-right: min(calc((100% - 960px) / 6), 100px);
    }   
}