.footer {
    background-color: rgb(48, 59, 70);
    width: 100%;
    padding: 100px 0 0 0;
    display: grid;
    grid-template-areas:
        'linkSection'
        'contactSection'
        'bottomSection';
}

.footer * {
    color: white;
}

.footer>span {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    grid-area: bottomSection;
    margin-top: 50px;
}

.footer>span p {
    color: rgb(227, 227, 227);
    margin: 0 20px 0 20px;
}

.divider {
    width: 1px;
    background-color: rgb(172, 172, 172);
    height: auto;
    grid-area: divider;
    margin: 50px 0 50px 0;
}

.link-section {
    grid-area: linkSection;
    width: 70vw;
    margin: 0 15vw 100px 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    margin-right: 20px;
    font-size: 2rem;
    transform: translateY(2px);
}

.link {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.link * {
    color: rgb(172, 172, 172);
}

.link:hover * {
    color: white;
}

.link p {
    margin: 0;
    transform: translateY(0.15rem);
}

.contact-section {
    grid-area: contactSection;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 15vw 50px 15vw;
}

.footer form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button {
    color: white;
    border: none;
    background-color: rgb(75, 130, 115);
    padding: 12px 40px 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.footer input,
textarea {
    color: rgb(48, 59, 70) !important;
    width: calc(100% - 16px);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    resize: none;
}

@media screen and (min-width: 1000px) {
    .footer {
        grid-template-areas: 'contactSection divider linkSection'
            'bottomSection bottomSection bottomSection';
        padding: 100px 0 50px 0;
    }

    .contact-section {
        width: calc(30vw - 2px);
        margin: 50px 10vw 50px 10vw;
    }

    .link-section {
        width: calc(30vw - 2px);
        margin: 0 10vw 0 10vw;
        height: auto;
    }
}