.footer {
    width: 100%;
    min-width: 300px;
    color: rgb(146, 146, 146);
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin: 0 auto 70px auto;
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 2rem;
}

.link:hover * {
    color: rgb(51, 51, 51);
}

.link p {
    margin: 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright p {
    margin-bottom: 10px;
    font-size: 0.7rem;
}

@media screen and (min-width: 900px) {
    .social {
        flex-direction: row;
        gap: 100px;
    }
}